/* secondpage.css */

body {
  background-color: yellow;
  color: rgb(21, 21, 112);
}

h2 {
  text-align: center;
}

input {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  border: 1px solid rgb(78, 75, 75);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}

form {
  padding: 10px;
  gap: 10px;
}

.button {
  border: 1px solid rgb(78, 75, 75);
}

.button:hover {
  color: white;
  background-color: rgb(14, 14, 87);
}
